.form-container{
  margin:auto;
  width: 60%;
  border: 1px solid black;
  padding: 10px;
  min-height:350px;
}

.form-holder{
  margin:1px;
  float:left;
}

.instructions{
  margin:1px;
  float:right;
}

.results-container{
  margin: auto;
  width: 60%;
  border: 1px solid black;
  padding: 10px;
}

.button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 10px 26px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}
